In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import torch
import warnings
warnings.filterwarnings("ignore")

In [2]:
from sklearn.model_selection import train_test_split
from torch.utils.data import Dataset, DataLoader
from lightning.pytorch import Trainer
from lightning.pytorch.callbacks import ModelCheckpoint
from lightning.pytorch.loggers import TensorBoardLogger

In [3]:
import transformers
from transformers import T5Tokenizer, T5ForConditionalGeneration, AutoTokenizer, AutoModel
from transformers import PegasusForConditionalGeneration, PegasusTokenizer, BartForConditionalGeneration
from transformers import DataCollatorForSeq2Seq, AdamW, get_linear_schedule_with_warmup
from transformers import AutoModelForSeq2SeqLM, Seq2SeqTrainingArguments, Seq2SeqTrainer
from transformers import create_optimizer, AdamWeightDecay
from transformers import pipeline
import datasets
from datasets import Dataset, DatasetDict
#from torch.utils.data import DataLoader, Dataset
from tqdm.auto import tqdm
from rouge import Rouge

In [4]:
from torch import cuda
device = 'cuda' if cuda.is_available() else 'cpu'
device

'cuda'

In [5]:
df = pd.read_csv("news_summary.csv", encoding="latin-1")
df.head()

,author,date,headlines,read_more,text,ctext
0,Chhavi Tyagi,"03 Aug 2017,Thursday",Daman & Diu revokes mandatory Rakshabandhan in...,http://www.hindustantimes.com/india-news/raksh...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Daisy Mowke,"03 Aug 2017,Thursday",Malaika slams user who trolled her for 'divorc...,http://www.hindustantimes.com/bollywood/malaik...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,Arshiya Chopra,"03 Aug 2017,Thursday",'Virgin' now corrected to 'Unmarried' in IGIMS...,http://www.hindustantimes.com/patna/bihar-igim...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Sumedha Sehra,"03 Aug 2017,Thursday",Aaj aapne pakad liya: LeT man Dujana before be...,http://indiatoday.intoday.in/story/abu-dujana-...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Aarushi Maheshwari,"03 Aug 2017,Thursday",Hotel staff to get training to spot signs of s...,http://indiatoday.intoday.in/story/sex-traffic...,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...

In [6]:
df.describe()

,author,date,headlines,read_more,text,ctext
count,4514,4514,4514,4514,4514,4396
unique,45,240,4514,4461,4514,4341
top,Chhavi Tyagi,"19 Jul 2017,Wednesday",More than half of India's languages may die in...,http://indiatoday.intoday.in/story/assembly-el...,At least 400 languages or more than half langu...,AAJ TAK LIVE TV WITH LIVE ELECTION RESULTS I c...
freq,559,76,1,13,1,13

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 4514 entries, 0 to 4513

Data columns (total 6 columns):

 #   Column     Non-Null Count  Dtype

---  ------     --------------  -----

 0   author     4514 non-null   object

 1   date       4514 non-null   object

 2   headlines  4514 non-null   object

 3   read_more  4514 non-null   object

 4   text       4514 non-null   object

 5   ctext      4396 non-null   object

dtypes: object(6)

memory usage: 211.7+ KB

In [8]:
df = df[['headlines', 'text', 'ctext']]
df.head()

,headlines,text,ctext
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Malaika slams user who trolled her for 'divorc...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...

In [9]:
# drop na
df = df.dropna()
df.describe()

,headlines,text,ctext
count,4396,4396,4396
unique,4396,4396,4341
top,More than half of India's languages may die in...,At least 400 languages or more than half langu...,AAJ TAK LIVE TV WITH LIVE ELECTION RESULTS I c...
freq,1,1,13

In [10]:
# Converting to lowercase
df['ctext'] = df['ctext'].apply(str.lower)
df['text'] = df['text'].apply(str.lower)
df['headlines'] = df['headlines'].apply(str.lower)
df.head()

,headlines,text,ctext
0,daman & diu revokes mandatory rakshabandhan in...,the administration of union territory daman an...,the daman and diu administration on wednesday ...
1,malaika slams user who trolled her for 'divorc...,malaika arora slammed an instagram user who tr...,"from her special numbers to tv?appearances, bo..."
2,'virgin' now corrected to 'unmarried' in igims...,the indira gandhi institute of medical science...,the indira gandhi institute of medical science...
3,aaj aapne pakad liya: let man dujana before be...,lashkar-e-taiba's kashmir commander abu dujana...,lashkar-e-taiba's kashmir commander abu dujana...
4,hotel staff to get training to spot signs of s...,hotels in maharashtra will train their staff t...,hotels in mumbai and other indian cities are t...

In [11]:
df['headlines_length'] = [len(x.split()) for x in df.headlines]
df['text_length'] = [len(x.split()) for x in df.text]
df['ctext_length'] = [len(x.split()) for x in df.ctext]
df.head()

,headlines,text,ctext,headlines_length,text_length,ctext_length
0,daman & diu revokes mandatory rakshabandhan in...,the administration of union territory daman an...,the daman and diu administration on wednesday ...,9,60,364
1,malaika slams user who trolled her for 'divorc...,malaika arora slammed an instagram user who tr...,"from her special numbers to tv?appearances, bo...",10,60,396
2,'virgin' now corrected to 'unmarried' in igims...,the indira gandhi institute of medical science...,the indira gandhi institute of medical science...,8,60,335
3,aaj aapne pakad liya: let man dujana before be...,lashkar-e-taiba's kashmir commander abu dujana...,lashkar-e-taiba's kashmir commander abu dujana...,10,60,404
4,hotel staff to get training to spot signs of s...,hotels in maharashtra will train their staff t...,hotels in mumbai and other indian cities are t...,11,60,526

In [12]:
df = df[df['ctext_length'] >= df['text_length']]
df.describe()

       headlines_length  text_length  ctext_length
count       4274.000000  4274.000000   4274.000000
mean           9.300889    58.299719    351.740056
std            1.407168     2.314246    358.884472
min            4.000000    44.000000     50.000000
25%            8.000000    57.000000    193.000000
50%            9.000000    59.000000    288.000000
75%           10.000000    60.000000    416.000000
max           14.000000    62.000000  12202.000000

In [14]:
df = df.drop(columns=['headlines_length', 'text_length', 'ctext_length', 'diff'])
df.head()

,headlines,text,ctext
0,daman & diu revokes mandatory rakshabandhan in...,the administration of union territory daman an...,the daman and diu administration on wednesday ...
1,malaika slams user who trolled her for 'divorc...,malaika arora slammed an instagram user who tr...,"from her special numbers to tv?appearances, bo..."
2,'virgin' now corrected to 'unmarried' in igims...,the indira gandhi institute of medical science...,the indira gandhi institute of medical science...
3,aaj aapne pakad liya: let man dujana before be...,lashkar-e-taiba's kashmir commander abu dujana...,lashkar-e-taiba's kashmir commander abu dujana...
4,hotel staff to get training to spot signs of s...,hotels in maharashtra will train their staff t...,hotels in mumbai and other indian cities are t...

In [15]:
df['news'] = df['headlines'] + '. ' + df['ctext']
df.rename(columns={"text": "summary"}, inplace = True)
df = df.drop(columns=['headlines', 'ctext'])
df.head()

,summary,news
0,the administration of union territory daman an...,daman & diu revokes mandatory rakshabandhan in...
1,malaika arora slammed an instagram user who tr...,malaika slams user who trolled her for 'divorc...
2,the indira gandhi institute of medical science...,'virgin' now corrected to 'unmarried' in igims...
3,lashkar-e-taiba's kashmir commander abu dujana...,aaj aapne pakad liya: let man dujana before be...
4,hotels in maharashtra will train their staff t...,hotel staff to get training to spot signs of s...

In [16]:
# Making the dataset
prefix = 'summarize: '
df['news'] = prefix + df['news']
df.head()

,summary,news
0,the administration of union territory daman an...,summarize: daman & diu revokes mandatory raksh...
1,malaika arora slammed an instagram user who tr...,summarize: malaika slams user who trolled her ...
2,the indira gandhi institute of medical science...,summarize: 'virgin' now corrected to 'unmarrie...
3,lashkar-e-taiba's kashmir commander abu dujana...,summarize: aaj aapne pakad liya: let man dujan...
4,hotels in maharashtra will train their staff t...,summarize: hotel staff to get training to spot...

In [17]:
# Converting the pandas dataset to huggingface dataset
# first split the train and test set
train_df, test_df = train_test_split(df, test_size=0.01, shuffle=True)
print("train and val shape:", train_df.shape, "test shape:",test_df.shape)
# save for every model inference
global_train_df = train_df
global_test_df = test_df
train_df = datasets.Dataset.from_pandas(train_df)
train_df = train_df.remove_columns(["__index_level_0__"])
# split train into train and val
train_df = train_df.train_test_split(test_size=0.2, shuffle=True) # split train and test
train_df["train"][0]

train and val shape: (4231, 2) test shape: (43, 2)

{'summary': "lenovo phab 2 pro, the first phone with google's augmented reality camera, has been launched in india at ?29,999. through its depth-sensing google tango camera, the phone can map out physical spaces, track its own position in a room, and follow objects. powered by a snapdragon 652 processor, the 6.4-inch phone has 4 gb ram and 4,050 mah battery.",
 'news': "summarize: 1st google tango camera phone launches in india at ?29,999. how crazy are you about the pokã©mon go? if not much, what about lenovo phones? nothing still? what about a lenovo phone priced cheaper in india than in the us?lenovo's first smartphone touted to have google tango -- lenovo phab2 pro -- has been launched in india and available for rs 29,999 exclusively on flipkart, discounted from its us price of $499 (roughly rs 33,500) where it was first announced in november 2016. the phone was expected to sell at rs 40,000 given the usual price difference between two markets.also read:  xiaomi mi max v lenovo phab 2 plus: top specs shootout lenovo phab 2 pro is the world's first smartphone to feature google's tango technology -- a set of software and specially calibrated group of embedded sensors developed by google to bring augmented reality (ar) experiences on relatively affordable phablet form factor by complimenting them with depth perception and 3d mapping to understand shapes and own location in the immediate surroundings. asus also launched the zenfone ar at ces that has both google daydream vr and google tango.\xa0 augmented reality means your smartphone that will be aware of it surroundings, and create computer generated images to superimpose them on a user's view of the real world to provide a merged view that they can interact with. the pokã©mon go and house of the dying sun are some of the top ar games in the world.phab2 pro is a 4g smartphone powered by the qualcomm snapdragon 652 processor and comes with 4gb ram and 64gb storage expandable up to 128gb. the phone has a 6.4 inch quad hd ips display, 16-megapixel rear camera with pdaf and 8-megapixel front camera with f/2.2 aperture and 1.4 micro meter pixel size. it features dolby audio capture 5.1 to record surround sound using three microphones deployed on the phone while there is dolby atmos playback for surround sound output."}

In [18]:
# Fitting into dataset dict
train_val_test_dataset = DatasetDict({
    'train': train_df["train"],
    'val': train_df['test']})

print(type(train_val_test_dataset))
train_val_test_dataset

<class 'datasets.dataset_dict.DatasetDict'>

DatasetDict({
    train: Dataset({
        features: ['summary', 'news'],
        num_rows: 3384
    })
    val: Dataset({
        features: ['summary', 'news'],
        num_rows: 847
    })
})

In [20]:
def prepare_dataset(data):
    inputs = data["news"]
    model_inputs = tokenizer(inputs, max_length=512, truncation=True)
    labels = tokenizer(text_target=data["summary"], max_length=128, truncation=True)
    model_inputs["labels"] = labels["input_ids"]
    return model_inputs

Now create a batch of examples using [DataCollatorForSeq2Seq](https://huggingface.co/docs/transformers/v4.35.0/en/main_classes/data_collator#transformers.DataCollatorForSeq2Seq). It’s more efficient to dynamically pad the sentences to the longest length in a batch during collation, instead of padding the whole dataset to the maximum length.

In [24]:
def compute_metrics(eval_pred):
    predictions, labels = eval_pred
    decoded_preds = tokenizer.batch_decode(predictions, skip_special_tokens=True)
    labels = np.where(labels != -100, labels, tokenizer.pad_token_id)
    decoded_labels = tokenizer.batch_decode(labels, skip_special_tokens=True)
    result = Rouge().get_scores(decoded_preds, decoded_labels, avg=True, ignore_empty=True)

    # prediction_lens = [np.count_nonzero(pred != tokenizer.pad_token_id) for pred in predictions]
    # result["gen_len"] = np.mean(prediction_lens)

    return result

In [32]:
# Free up memory
torch.cuda.empty_cache()

In [33]:
# tokenize the data
model_name = "google/pegasus-large"
tokenizer = AutoTokenizer.from_pretrained(model_name, use_fast = False)
tokenized_data = train_val_test_dataset.map(prepare_dataset, batched=True)

Map:   0%|          | 0/3384 [00:00<?, ? examples/s]

Map:   0%|          | 0/847 [00:00<?, ? examples/s]

In [34]:
# Padding
data_collator = DataCollatorForSeq2Seq(tokenizer=tokenizer, model=model_name)

In [35]:
# model
PEGASUSmodel = AutoModelForSeq2SeqLM.from_pretrained(model_name).to(device)

Some weights of PegasusForConditionalGeneration were not initialized from the model checkpoint at google/pegasus-large and are newly initialized: ['model.decoder.embed_positions.weight', 'model.encoder.embed_positions.weight']

You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [36]:
# set up hyper-parameters
training_args = Seq2SeqTrainingArguments(
    output_dir="pegasus-news",
    evaluation_strategy="epoch",
    learning_rate=1e-6,
    per_device_train_batch_size=8,
    per_device_eval_batch_size=8,
    weight_decay=0.01,
    save_total_limit=2,
    num_train_epochs=3,
    predict_with_generate=True,
    fp16=False, # FP16 not supported for PEGASUS: https://huggingface.co/docs/transformers/model_doc/pegasus#checkpoints
    report_to="none"
)

In [37]:
# setup trainer
trainer = Seq2SeqTrainer(
    model = PEGASUSmodel,
    args = training_args,
    train_dataset = tokenized_data["train"],
    eval_dataset = tokenized_data["val"],
    tokenizer = tokenizer,
    data_collator = data_collator,
    compute_metrics = compute_metrics
)

In [38]:
trainer.train()

TrainOutput(global_step=1269, training_loss=1.9827846469984363, metrics={'train_runtime': 7747.9952, 'train_samples_per_second': 1.31, 'train_steps_per_second': 0.164, 'total_flos': 1.4608522581835776e+16, 'train_loss': 1.9827846469984363, 'epoch': 3.0})

In [39]:
# save the model
model_path = "pegasus-news"
trainer.save_model(model_path)
tokenizer.save_pretrained(model_path)

('pegasus-news/tokenizer_config.json',
 'pegasus-news/special_tokens_map.json',
 'pegasus-news/spiece.model',
 'pegasus-news/added_tokens.json')

In [40]:
model = AutoModelForSeq2SeqLM.from_pretrained("pegasus-news")
tokenizer = AutoTokenizer.from_pretrained("pegasus-news")

In [41]:
#for i in range(len(test_df['news']):
for i in range(5):
    print("original_news: ",test_df['news'].iloc[i])
    summarizer = pipeline("summarization", model = model,tokenizer = tokenizer, max_length = 100)
    summary = summarizer(test_df['news'].iloc[i])
    print(summary[0])
    print()

original_news:  summarize: taapsee pannu opts out of event organised by fairness cream. taapsee pannu, who was catapulted to the big league after her film pink became a runaway hit, has joined the likes of kangana ranaut and ranbir kapoor by taking a stand against fairness creams. the actor was supposed to be a part of an event in jaipur that was to be held next month, but she pulled out when she learnt that it was being organised by a fairness cream.also read: taapsee pannu opens up on being eve-teased, being told her backless dress was the problem also read: is taapsee pannu's nepotism remark directed at varun dhawan? taapsee said, "i agree it was a last moment call but when i got to know that i will have to pose with the fairness brand during the event i decided to take my name out of that event. i have actually lost a few films because of being fair so i will definitely not propagate fairness in any way."

{'summary_text': "the actor was supposed to be a part of an event in jaipur that was to be held next month, but she pulled out when she learnt that it was being organised by a fairness cream.also read: taapsee pannu opens up on being eve-teased, being told her backless dress was the problem also read: is taapsee pannu's nepotism remark directed at varun dhawan?"}



original_news:  summarize: sachin attends rajya sabha after questions on attendance. former cricketer sachin tendulkar was spotted in the rajya sabha today a couple of days after absence of nominated members from the upper house was questioned by samajwadi party mp naresh agarwal.although sachin attended rajya sabha proceedings, he didn't ask any question. boxer mary kom too was present in the house today.samajwadi party mp naresh agarwal had on tuesday questioned the absence of celebrity members of the house and advocated them being disqualified from rajya sabha membership."sachin tendulkar and rekha should resign if they are not interested in parliament," agarwal said.tendulkar and actor rekha were the worst performers in attendance in the rajya sabha among the 12 nominated members.besides tendulkar and rekha, other nominated members include anu aga, sambhaji chhatrapati, swapan dasgupta, roopa ganguly, narendra jadhav, m c mary kom, k parasaran, gopi suresh, subramanian swamy and kts tulsi.also read:

{'summary_text': 'boxer mary kom too was present in the house today.samajwadi party mp naresh agarwal had on tuesday questioned the absence of celebrity members of the house and advocated them being disqualified from rajya sabha membership."sachin tendulkar and rekha should resign if they are not interested in parliament," agarwal said.tendulkar and actor rekha were the worst performers in attendance in the rajya sabha among the 12 nominated members.'}



original_news:  summarize: kohli will catch up with dhoni as captain, says ravi shastri. virat kohli?s ascendancy since becoming the india test captain in 2014 has been startling. his aggressive attitude coupled with brilliance in batting meant that the national team found a perfect successor to mahendra singh dhoni, whose achievement as skipper is unmatched in indian cricket.while still it is early days, but kohli can match dhoni?s achievements as skipper, believes india?s new head coach ravi shastri.(read | virat kohli ?spoilt for choices? ahead of second india vs sri lanka test match) the claim may be tall since dhoni remains the only cricket captain in the world to win all icc trophies ? the world cup, the world t20 and the champions trophy. his time at the helm of india also saw them claiming the no. 1 position in tests.but then kohli has also got a great start to his career as captain. among all the captains who have led india for more than 20 test matches, kohli has the highest win percentage. in 27 tests, he has 17 wins with 62.96 win percentage. dhoni won 27 out of 60 tests as captain, with the win percentage being 45. sourav ganguly is third in the list with a win percentage of 42.85, winning 21 out of 49 tests as captain.(read | how hardik pandya survived on maggi before becoming indian cricket team star) ?the way virat is progressing, he may well catch up with dhoni. i have been involved with cricket for 35 years as player, commentator and coach. apart from sachin tendulkar, i have never seen anyone break records like kohli. he has caught up with many greats, playing just half the number of matches. i wonder where will he stop,? shastri told anandabazar patrika, a bengali daily.shastri, who returned to the indian dressing room after a year-long gap as head coach, is currently touring sri lanka with the indian team for a three-test rubber followed by limited overs series.(read | sachin tendulkar joins pm narendra modi in praising indian women?s cricket team) the following seasons will see india travelling to south africa, australia and new zealand. this was one area where dhoni?s team failed to stamp their authority and if kohli?s gang does it, there will be no doubt about who india?s greatest captain is.?dhoni all-time greatest?shastri, however, added that based on current record dhoni is india?s all-time greatest captain.(read | khaled mahmud, ex-bangladesh skipper, suffers stroke; to be taken to singapore) ?the guy has won two world titles - a world cup and a world t20. beside that, he has also finished runner-up in another world t20. he played in the semi-finals of two other world t20 and world cups. people often talk about his limited-over record, but compare dhoni?s test with any captain and it will show who is the greatest ever ,? shari said.?virat is progressing in the same direction as well.?when shastri was the team director of india from 2014 to 2016, he saw both dhoni and kohli as captains from close quarters. in fact, it was during shastri?s time at the helm that dhoni quit as test captain to make way for kohli in 2014.shastri added that kohli has potential to be the greatest captain of the current generation but may face stiff competition from an australian.?steve smith. as a captain his batting record is exceptional,? shastri said.as a captain, smith?s batting average is 73.27, second only to don bradman?s 101.51. kohli is third in the list with an average of 61.09.in days to come, the two might well decide whose team will rule cricket in the next decade.

{'summary_text': 'his aggressive attitude coupled with brilliance in batting meant that the national team found a perfect successor to mahendra singh dhoni, whose achievement as skipper is unmatched in indian cricket.while still it is early days, but kohli can match dhoni?s achievements as skipper, believes india?s new head coach ravi shastri.(read | virat kohli ?spoilt for choices?'}



original_news:  summarize: punjab cm announces ?5 lakh reward for harmanpreet kaur. punjab chief minister capt amarinder singh on sunday announced a cash reward of rs five lakh for cricketer harmanpreet kaur for her performance that steered india to the finals of icc women?s world cup.the chief minister conveyed this to harmanpreet?s father, harmandar singh, whom he called up to congratulate, an official spokesperson said here.the chief minister lauded harmanpreet?s score of 171 not out of 115 balls in the semi-final against australia.wishing the best to harmanpreet for the final match between india and england, the chief minister hoped that she would continue to make the country proud with her continuing brilliance.celebrations have been on at harmanpreet?s home in moga in punjab after her 171-run knock against australia two days ago -- one of the greatest odi knocks in women?s cricket.

{'summary_text': 'punjab chief minister capt amarinder singh on sunday announced a cash reward of rs five lakh for cricketer harmanpreet kaur for her performance that steered india to the finals of icc women?s world cup.the chief minister conveyed this to harmanpreet?s father, harmandar singh, whom he called up to congratulate, an official spokesperson said here.the chief minister lauded harmanpreet?s score of 171 not out of 115 balls in'}



original_news:  summarize: upset with govt, deaflympics team refuses to leave airport. the indian contingent of hearing impaired athletes, returning to the country after its best ever performance in the deaflympics -- clinching five medals, including a gold -- refused to leave the indira gandhi international airport in new delhi on tuesday morning (5 a.m.) after realising that not a single official from the sports authority of india (sai) or the sports ministry were present to welcome them.the contingent of 46 athletes and support staff felt the apathy from the officials indicated that the government were not acknowledging their success at the games held at samsun, turkey. apparently, the athletes also wanted to speak to sports minister vijay goel, to apprise him of the situation.?the indian contingent participated in a total of eight disciplines at the games. out of those eight disciplines, we won medals in three. we won gold and bronze in wrestling, bronze in lawn tennis and silver in golf,? ketan shah, team?s interpreter, said.?the day we won the medals, we told the government that we have made the nation proud. these medal winners made the nation proud, but no one, not even the sports minister, is here to welcome us.?six-hour protestthe athletes staged protest for over six hours before dilip singh, a project officer with sai, reached the airport to receive them.upset with govt., indian deaflympics team refuse to leave airportread @ani_news story | https://t.co/g2mm0tahda pic.twitter.com/zec0lzxsfv? ani digital (@ani_digital) august 1, 2017the sai official then took the players to jawaharlal nehru stadium and it has been told that they will be taken to shastri bhawan in the evening.?we have been informed that in the evening we will be going to shastri bhawan, but it is not clear that whether the contingent will be meeting the sports minister or the sports secretary,? said avinash gupta father of deaflympics tennis player parul gupta. ?what these players wanted just a small welcome at the airport and a photograph with the sports minister. but it?s the irony that they have to stage a protest for six hours to meet their demands. and even now meeting with the minister is not yet confirmed and they have to wait for another five-to-six hours at the nehru stadium,? added gupta.vijender?s goldthe gold medal for india was won gold by virender singh in 74kg freestyle wrestling competition. he defeated chakvetadze s of georgia 18-9 to clinch the big prize.this was the fourth successive medal -- three gold and a bronze --- for virender at the deaflympics.

{'summary_text': 'the indian contingent of hearing impaired athletes, returning to the country after its best ever performance in the deaflympics -- clinching five medals, including a gold -- refused to leave the indira gandhi international airport in new delhi on tuesday morning (5 a.m.) after realising that not a single official from the sports authority of india (sai) or the sports ministry were present to welcome them.the contingent of 46 athletes and support staff felt the apathy from the officials'}